build/
dist/
output/
icon.kra~
ImportLog.log
.venv
__pycache__
Update/
Installer/Exe_Build
Installer/Exe_Dest
Installer/Setup_Build
github_token.txt
SSII.spec
Installer/Setup_Build/SuperSimpleImageImporterSetup.exe
