__pycache__
.venv
build/
dist/
github_token.txt
icon.kra~
ImportLog.log
Installer/Exe_Build
Installer/Exe_Dest
Installer/Setup_Build
Installer/Setup_Build/
output/
SSII.spec
Update/
WorkQueue.json
src/bin/temp.py
src/bin/temp2.py
src/bin/test.py
src/bin/test2.py
